body {
    height: 90vh;
    color: #fff;
    background: linear-gradient(-45deg, #fff, #eaeaea);
    background-size: 300% 300%;
    -webkit-animation: Gradient 8s ease infinite;
    -moz-animation: Gradient 8s ease infinite;
    animation: Gradient 8s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

h1,
h6 {
    font-weight: 300;
    text-align: center;
    position: absolute;
    top: 45%;
    right: 0;
    left: 0;
}

.bg-pulse{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.bg-pulse li{
    position:absolute;
    list-style-type:none;
    width:20px;
    height:20px;
    background:rgba(36,167,226,.2);
    animation: animate 25s linear infinite;
    bottom:-400px;
}
.bg-pulse li:nth-child(1){
    left:25%;
    width:80px;
    height:80px;
    animation-delay:0;
}
.bg-pulse li:nth-child(2){
    left:10%;
    width:20px;
    height:20px;
    animation-delay:2s;
    animation-duration:12s;
}
.bg-pulse li:nth-child(3){
    left:70%;
    width:20px;
    height:20px;
    animation-delay:4s;
}
.bg-pulse li:nth-child(4){
    left:40%;
    width:60px;
    height:60px;
    animation-delay:0s;
    animation-duration:18s;
}
.bg-pulse li:nth-child(5){
    left:65%;
    width:20px;
    height:20px;
    animation-delay:0s;
}
.bg-pulse li:nth-child(6){
    left:75%;
    width:110px;
    height:110px;
    animation-delay:3s;
}
.bg-pulse li:nth-child(7){
    left:35%;
    width:150px;
    height:150px;
    animation-delay:7s;
}
.bg-pulse li:nth-child(8){
    left:50%;
    width:25px;
    height:25px;
    animation-delay:15s;
    animation-duration:45s;
}
.bg-pulse li:nth-child(9){
    left:20%;
    width:15px;
    height:15px;
    animation-delay:0s;
    animation-duration:35s;
}
.bg-pulse li:nth-child(10){
    left:85%;
    width:50px;
    height:50px;
    /* width:150px;
   height:150px;*/
    animation-delay:0;
    animation-duration:11s;
}
@keyframes animate{
    0%{
        transform:translateY(0) rotate(0deg);
        opacity:0.85;
        border-radius:0;
    }
    100%{
        transform:translateY(-1000px) rotate(720deg);
        opacity:0;
        border-radius:10%;
    }
}
/* demo*/
h1{
    color:white;
    text-align:center;
    text-transform:capitalize;
}